body {
    font-family: Arial, sans-serif;
    padding-top: 30px;
}

.dropdown {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 15px 10px 0;
    border-bottom: 1px solid #ddd;
}

.dropdown input {
    display: none;
}

.dropdown label {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 15px 5px 0;
}

.dropdown label::after {
    content: "+";
    font-size: 26px;
    font-weight: normal;
}

.dropdown input:checked+label::after {
    content: "−";
}

.dropdown .content {
    display: grid;
    grid-template-rows: 0fr;
    font-size: 20px;
    padding: 0 45px;
    transition: grid-template-rows 0.5s ease-in-out;
}

.dropdown .content-inner {
    overflow: hidden;
}

.dropdown input:checked+label+.content {
    grid-template-rows: 1fr;
}

.dropdown .content p {
    margin: 0 0 15px 0;
}

.specification,
.tillverkare {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.specification span:first-child,
.tillverkare span:first-child {
    font-weight: bold;
}

.recensioner__filledstar {
    color: gold;
    font-size: 20px;

}

.recensioner__emptystar {
    color: lightgray;
    font-size: 20px;
}

.dropdown .content .recensioner__description {
    margin-top: 20px;
}